.header {
  /* border: 1px solid red; */
  background: var(--lightGray);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}
.header-total {
  color: var(--gray);
  margin: .5em 0;
  font-weight: 600;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5em;
}
h1 {
  margin: 0;
  font-size: 1.7em;
}
